body{
    background: #00111B;
}

.header .navbar {
    /*background-color: transparent !important;*/
    
    left:0%;
    top: 0%;
    width: 100%;
}

#banner{
    background: url(../img/1218911.jpg) ;
    background-size: cover;
    background-repeat:no-repeat;
    background-size:100% ;
    padding-bottom: 40rem;
}

#FotoPerfil{
    padding-top: 2rem;
    text-align: center;
    /*text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;*/
}

/* Para que tenga un espacio falso el banner */
.main{
    padding-top: 10rem;
}

p {
    text-align: left;
    margin-top: 5px;
    color: #a7a9be;
}

h1, h2, h3, h4, h5, h6{
    color: white;
    margin-top: 5px;
}

label{
    color:white;
}

#message{
    resize: none;
}
